@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white bg-app-gradient min-h-screen selection:bg-primary selection:text-background;
  }
}
